/* Footer.css */
.footer {
    width: 100%; /* Assurez-vous que le footer prend toute la largeur de l'écran */
    height: 209px;
    background-color: #000000;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px; /* Ajout de padding pour les petits écrans */
}

.content {
    max-width: 90%; /* Utilisation de max-width pour s'adapter aux petits écrans */
    font-size: 1.5em; /* Utilisation d'unités relatives */
    font-weight: 500;
    line-height: 1.4em;
    text-align: center;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .content {
        font-size: 1em; /* Taille de police plus petite pour les petits écrans */
        line-height: 1.2em;
    }
}

/* Optionnel: Réduire la hauteur du footer sur les très petits écrans */
@media screen and (max-width: 400px) {
    .footer {
        height: auto;
        padding: 10px;
    }
}
